@model IEnumerable<Pozoriste.ViewModel.ZonaUSali>

@{
    int k = 0; 
}

@{
    ViewBag.Title = "DetaljiSala";
}

<h1>Detalji o sali</h1>
<div class="btn-group" data-toggle="buttons">
    @foreach (var item in Model)
    {
        
    int kolonica=0;
    if (item.brojRedova == 0){
        kolonica = 0; }
    else {
        kolonica = item.brojSjedista / item.brojRedova;
    }
     
       <br>
        <h3> @item.Naziv_zone </h3>
   
        for (var m = 0; m < @item.brojRedova; m++)
        {
           
            <tr>
                @for (var n = 1; n <= kolonica; n++)
                {
                    if ((m * kolonica + n + k) >= 10)
                    {
                        <td>
                            <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                                <input type="checkbox" id="@(m * kolonica + n + k)" value="@(m * kolonica + n + k)" name="chk">  @(m * kolonica + n + k)
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                                <input type="checkbox" id="@(m * kolonica + n + k)" value="@(m * kolonica + n + k)" name="chk">  0@(m * kolonica + n + k)
                            </label>
                        </td>
                    }

                }
                
            </tr>
        <p> </p>

        }
        k = k + @item.brojSjedista;
       
    }
    <br>  
</div>

 
<p></p>
<p>   @Html.ActionLink("Dodaj zonu", "CreateZona", new { /* id=Model.PrimaryKey */ }) | @Html.ActionLink("Vrati se nazad", "Index", new { /* id=Model.PrimaryKey */ }) </p> 
