@model Pozoriste.Models.Rezervacija

@{
    ViewBag.Title = "OtkaziRezervaciju";
}

<h2>OtkaziRezervaciju</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv_rezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv_rezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjediste_ID_sjedista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjediste_ID_sjedista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gledalac_ID_korisnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gledalac_ID_korisnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Izvedba_ID_izvedbe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izvedba_ID_izvedbe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjediste_Red_ID_reda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjediste_Red_ID_reda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjediste_Red_Zona_ID_zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjediste_Red_Zona_ID_zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sjediste_Red_Zona_Sala_ID_sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sjediste_Red_Zona_Sala_ID_sale)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
