@model Pozoriste.ViewModel.ProfilKorisnika
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Pozorište</h1>
    
    
</div>

<legend>Repertoar </legend>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab_1" data-toggle="tab">Danas</a>
    </li>
    <li>
        <a href="#tab_2" data-toggle="tab">7 dana</a>
    </li>
    <li>
        <a href="#tab_3" data-toggle="tab">30 dana</a>
    </li>


</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="tab_1">
        <br>
        <fieldset>

            <table>

                <tr>
                    <th>

                    </th>
                    <th>
                        Naziv predstave
                    </th>
                    <th>
                        Datum izvodjenja
                    </th>
                    <th>
                        Vrijeme izvodjenja
                    </th>
                    <th>
                        Sala
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.izvedbeD)
                {

                    <tr>
                        <td>
                            <img src='~/Images/@Html.ValueFor(modelItem => item.Predstava.SlikaURL)'>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Predstava.Naziv_Predstave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repertoar_Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vrijeme_izvodjenja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sala.Naziv_Sale)
                        </td>

                        <td>
                            @Html.ActionLink("Pregled", "PregledIzvedba", new { id = item.ID_izvedbe })
                        </td>


                    </tr>
                }

            </table>

        </fieldset>
    </div>


    <div class="tab-pane fade" id="tab_2">
        <fieldset>

            <table>

                <tr>
                    <th>

                    </th>
                    <th>
                        Naziv predstave
                    </th>
                    <th>
                        Datum izvodjenja
                    </th>
                    <th>
                        Vrijeme izvodjenja
                    </th>
                    <th>
                        Sala
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.izvedbeS)
                {

                    <tr>
                        <td>
                            <img src='~/Images/@Html.ValueFor(modelItem => item.Predstava.SlikaURL)'>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Predstava.Naziv_Predstave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repertoar_Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vrijeme_izvodjenja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sala.Naziv_Sale)
                        </td>

                        <td>
                            @Html.ActionLink("Pregled", "PregledIzvedba", new { id = item.ID_izvedbe })
                        </td>


                    </tr>
                }

            </table>

        </fieldset>
    </div>


    <div class="tab-pane fade" id="tab_3">
        <fieldset>

            <table>

                <tr>
                    <th>
                    
                    </th>
                    <th>
                        Naziv predstave
                    </th>
                    <th>
                        Datum izvođenja
                    </th>
                    <th>
                        Vrijeme izvođenja
                    </th>
                    <th>
                        Sala
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.izvedbeM)
                {

                    <tr>
                        <td>
                            <img src='~/Images/@Html.ValueFor(modelItem => item.Predstava.SlikaURL)'>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Predstava.Naziv_Predstave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repertoar_Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vrijeme_izvodjenja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sala.Naziv_Sale)
                        </td>

                        <td>
                            @Html.ActionLink("Pregled", "PregledIzvedba", new { id = item.ID_izvedbe })
                        </td>


                    </tr>
                }

            </table>

        </fieldset>
    </div>
</div>

