@model Tuple<List<Pozoriste.ViewModel.ZonaUSali>,List<Pozoriste.Models.Rezervacija>,List<Pozoriste.Models.Sjediste>,List<Pozoriste.ViewModel.RezervisanaIzvedba>>



@{
    ViewBag.Title = "PregledIzvedba";
    
}

<br>

@{

    int k = 0;
}


<ul class="nav nav-tabs">
    <li class="active">

        <a href="#tab_1" data-toggle="tab">Rezervacija</a>
    </li>
    <li>
        <a href="#tab_2" data-toggle="tab">Prodaja</a>
    </li>

</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab_1">
        <br>
        <form action="/Biletar/ObradaRezervacije" method="post">
            <div class="btn-group" data-toggle="buttons">
@foreach (var item in Model.Item1)
        {

            int kolonica = 0;
            if (item.brojRedova == 0)
            {
                kolonica = 0;
            }
            else
            {
                kolonica = item.brojSjedista / item.brojRedova;
            }
    <br>
    <h3> @item.Naziv_zone </h3>
                for (var m = 0; m < @item.brojRedova; m++)
                {
                    <tr>
                        @for (var n = 1; n <= kolonica; n++)
                        {

                            if ((m * kolonica + n + k) >= 10)
                            {

                                if (ViewBag.listaSlobodnih.Contains((m * kolonica + n + k)))
                                {
                                    if (!ViewBag.listaNeprodatih.Contains((m * kolonica + n + k)))
                                    {
                                        <td>
                                            <label class="btn btn-primary" style="width:80px" disabled>
                                                <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                                            </label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                                                <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk">  @(m * kolonica + n + k)

                                            </label>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <label class="btn btn-primary" style="width:80px" disabled>
                                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                                        </label>
                                    </td>
                                }
                            }
                            else
                            {
                                if (ViewBag.listaSlobodnih.Contains((m * kolonica + n + k)))
                                {
                                    if (!ViewBag.listaNeprodatih.Contains((m * kolonica + n + k)))
                                    {
                                        <td>
                                            <label class="btn btn-primary" style="width:80px" disabled>
                                                <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                                            </label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                                                <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk">  @(m * kolonica + n + k)

                                            </label>
                                        </td>
                                    }
                                }

                                else
                                {
                                    <td>
                                        <label class="btn btn-primary" style="width:80px" disabled>
                                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                                        </label>
                                    </td>
                                }
                            }

                        }
                        <p> </p>
                    </tr>

                                }

            k = k + @item.brojSjedista;

        }
        <br>
              
    </div>
            <br>
            <p>
            <dt>
                Naziv rezervacije
            </dt>
            <dd>
                <input id="naziv_Rezervacije" type="text" name="naziv_Rezervacije" />
            </dd>
                </p>
            <h2>Broj rezervisanih mjesta: <div id="output">0</div> </h2>
            <h2>Ukupna cijena: <div id="output2">0</div> </h2>

                <p>
                    <input type="submit" name="submitButton" value="Rezerviši" />  <br>

                </p>
                
                </form>


                <fieldset>
                    <legend> Rezervacije </legend>
                    <table>

                        <tr>
                            <th>
                                Korisnik
                            </th>
                            <th>
                                Naziv rezervacije
                            </th>
                            <th>
                                Sjedište
                            </th>


                            <th></th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Item2)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gledalac_ID_korisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.naziv_rezervacije)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sjediste_ID_sjedista)
                                </td>

                                <td>
                                    @Html.ActionLink("Prodaja", "ProdajaIzvedba", new { id = item.Izvedba_ID_izvedbe, id2 = item.naziv_rezervacije })
                                </td>
                                <td>
                                    <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@item.Izvedba_ID_izvedbe" data-id2="@item.Sjediste_ID_sjedista"><font color="F6855E"><strong>Otkaži</strong></font></a>

                                </td>

                            </tr>

                        }

                        @foreach (var item in Model.Item4)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idkorisnika)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.naziv_rezervacije)
                                </td>
                                <td>
                                    @foreach (var mesto in item.mesta)
                                    {
                                        @Html.DisplayFor(modelItem => mesto) <span>, </span>  }
                                </td>

                                <td>
                                    @Html.ActionLink("Prodaja", "ProdajaIzvedba", new { id = item.id_izvedbe, id2=item.idkorisnika })
                                </td>
                                <td>
                                    <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@item.id_izvedbe" data-id2="@item.idkorisnika"><font color="F6855E"><strong>Otkaži</strong></font></a>

                                </td>

                            </tr>

                        }

                    </table>

                </fieldset>


            </div>
    <div class="tab-pane fade" id="tab_2">

        <br>
        <form action="/Biletar/ObradaProdaje" method="post">
    <div class="btn-group" data-toggle="buttons">
        @{ k = 0;}
        @foreach (var item in Model.Item1)
        {

            int kolonica = 0;
            if (item.brojRedova == 0)
            {
                kolonica = 0;
            }
            else
            {
                kolonica = item.brojSjedista / item.brojRedova;
            }
            <br>
            <h3> @item.Naziv_zone </h3>


            for (var m = 0; m < @item.brojRedova; m++)
{
    <tr>
        @for (var n = 1; n <= kolonica; n++)
        {

            if ((m * kolonica + n + k) >= 10)
            {
                if (ViewBag.listaNeprodatih.Contains((m * kolonica + n + k)))
                {
                    <td>
                        <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk">  @(m * kolonica + n + k)

                        </label>
                    </td>
                }
                else
                {
                    <td>
                        <label class="btn btn-primary" style="width:80px" disabled>
                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                        </label>
                    </td>
                }
            }
            else
            {
                if (ViewBag.listaNeprodatih.Contains((m * kolonica + n + k)))
                {
                    <td>
                        <label class="btn btn-primary" id="@(m * kolonica + n + k)" style="width:80px">
                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk">  @(m * kolonica + n + k)

                        </label>
                    </td>
                }
                else
                {
                    <td>
                        <label class="btn btn-primary" style="width:80px" disabled>
                            <input type="checkbox" class="checkbox" id="@item.cijena" value="@(m * kolonica + n + k)" name="chk"> @(m * kolonica + n + k)

                        </label>
                    </td>
                }
            }

        }
        <p> </p>
    </tr>

}

k = k + @item.brojSjedista;

        }
                    <br>
            </div>
            <h2>Broj karata: <div id="output3">0</div> </h2>
            <h2>Ukupna cijena: <div id="output4">0</div> </h2>
                <p>
                    <input type="submit" name="submitButton" value="Prodaj" />  <br>
                </p>
            </form>

                <fieldset>
                    <legend> Prodate karte </legend>
                    <table>

                        <tr>

                            <th>
                                Sjedište
                            </th>
                            <th>
                                Red
                            </th>

                        </tr>

                        @foreach (var item in Model.Item3)
                        {

                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_sjedista)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Red_ID_reda)
                                </td>

                            </tr>

                        }

                    </table>

                </fieldset>
            </div>
    </div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Potvrda otkazivanja</h4>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite da otkažete ovu rezervaciju?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>

    <script>
        var item_to_delete;
        $(".deleteItem").click(function (e) {
            item_to_delete = $(this).data('id');
            item_to_delete2 = $(this).data('id2');
        });
        $('#btnContinueDelete').click(function () {
           window.location = "/Biletar/PonistiRezervacija/" + item_to_delete+"00"+item_to_delete2; //improvizovano
           
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.checkbox').change(function () {
                var checkedTotal = {};
                $(".checkbox").each(function (index, el) {

                    var id = $(el).attr("id");
                    if ($(el).prop("checked")) {
                        if (!checkedTotal[id]) {
                            checkedTotal[id] = 1;
                        }
                        else {
                            checkedTotal[id] = checkedTotal[id] + 1;
                        }
                    }
                });
                var q = 0;
                for (var p in checkedTotal) {
                    q = parseInt(q) + parseInt(p * checkedTotal[p]);
                }

                $('#output').html(function (i, val) { return $('input[type=checkbox]:checked').length });
                $('#output2').html(function (i, val) { return q });
                $('#output3').html(function (i, val) { return $('input[type=checkbox]:checked').length });
                $('#output4').html(function (i, val) { return q });
            });
        });
    </script>
